{% extends 'index.html' %}

{% block content %}

<h2>This is signup page</h2>

<form action="" method="POST">

    <label for="">username</label>
    <input type="text" name="username">

    <label for="">first name</label>
    <input type="text" name="fname">

    <label for="">last name</label>
    <input type="text" name="lname">

    <label for="">email</label>
    <input type="email" name="email">

    <label for="">password</label>
    <input type="password" name="password">

    <button type="submit">Signup</button>

</form>

{% endblock %}