{% extends 'index.html' %}

{% block content %}

<h2>This is students sheet</h2>

<form action="" method="POST">
   <div>
      <label>Name</label>
      <input type="text" name="name">

      <label>Description</label>
      <input type="text" name="desc">
   </div>
   <button type="submit">Save</button>
</form>

<h1>This is students list</h1>

<div>
    <ul>
    {% for items in students %}
        <li>{{ items.name }}</li>

        <a href="{{ url_for('remove_student', id=items.id) }}">Delete</a>
        <a href="{{ url_for('update_student', id=items.id) }}">Update</a>
        <a href="{{ url_for('full_detail', id=items.id) }}">More Details</a>
    {% endfor %}
   </ul>
</div>

{% endblock %}